<div class="section gradient-70 pt-2 pb-4 mb-3">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-sm-9 col-md-7 col-xl-5">
        <h3 class="text-white mb-2">{{ module.heading }}</h3>
      </div>
    </div>  
    <div class="row">
      {% for item in module.item %}
      <div class="col-6 col-md-2">
        <div class="client-logo d-flex justify-content-center align-items-center text-center mb-half client-alt bg-royal-pavilion shadow-lg h-4">
          <div class="client-image">
            {% if item.client_logo.src %}
              {% set href = item.client_logo_link.url.href %}
              {% if item.client_logo_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
              {% endif %}
              <a href="{{ href }}"
               {% if item.client_logo_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if item.client_logo_link.no_follow %}rel="nofollow"{% endif %}
               >
                <img class="d-block img-fluid" src="{{ item.client_logo.src }}" alt="{{ item.client_logo.alt }}" width="{{ item.client_logo.width }}" height="{{ item.client_logo.height }}">
              </a>
            {% endif %}
          </div>
        </div>                    
      </div>
      {% endfor %}
    </div>
  </div>
</div>



