<div class="latest-guides">
  <div class="row">
    <div class="offset-sm-1 col-sm-10">
      <h3 class="mt-0 mb-2">{{ module.heading }}</h3>
    </div>
  </div>
  <div class="row">
    {% for item in module.add_item %}
    <div class="col-lg-6 mb-2">
      <div class="card-premium d-flex flex-column h-100 text-center align-items-center ">
        {% set href = item.button_link_url.url.href %}
        {% if item.button_link_url.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a  href="{{ href }}{% if item.parameter_link %}{{ item.parameter_link_url }}{% endif %}"{% if item.button_link_url.open_in_new_tab %}target="_blank"{% endif %} {% if item.button_link_url.no_follow %}rel="nofollow"{% endif %}>
          <div class="card-header">
            <div class="card-image">
              {% if item.image.src %}
              <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" width="{{ item.image.width }}" height="{{ item.image.height }}">
              {% endif %}
              <div class="card-premium_icon">
                <span class="btn btn-violet">{{ item.button_text }}</span>
              </div>
            </div>
          </div>
          <div class="card-body flex-grow-1">
            <h4 class="font-weight-bold mt-half">{{ item.title }}</h4>
          </div>
          <div class="card-footer">
            <h4 class="mt-0">{{ item.category }}</h4>
          </div>
        </a>
      </div>                     
    </div>
    {% endfor %}
  </div>
</div>