<div class="section fade-out pt-3 client-list">
  <div class="container">
    <div class="row mb-1">
      <div class="offset-sm-1 col-sm-10">
        <h1 class="h2 mt-half mb-0">{{ module.heading }}</h1>
        <h4 class="font-weight-normal">{{ module.sub_heading }}</h4>
      </div>
    </div>
    
    

    {% if module.display_filters %}
      <div class="filters row mb-2">
        <div class="ui-group col-6 offset-sm-1 col-sm-4">
          <h3 class="mb-0">Sector</h3>
          <div class="button-group js-radio-button-group" data-filter-group="size">
            <button class="button is-checked" data-filter=".sector">Show all</button>
            <button class="button" data-filter=".commercial">Commercial</button>
            <button class="button" data-filter=".ftse-100">FTSE 100</button>
            <button class="button" data-filter=".not-for-profit">Not for Profit</button>
            <button class="button" data-filter=".public-sector">Public Sector</button>
            <button class="button" data-filter=".education">Education</button>
          </div>
        </div>
        <div class="ui-group col-6 col-sm-4">
          <h3 class="mb-0">Region</h3>
          <div class="button-group js-radio-button-group" data-filter-group="color">
            <button class="button is-checked" data-filter=".region">Show all</button>
            <button class="button" data-filter=".europe">Europe</button>
            <button class="button" data-filter=".north-america">North America</button>
            <button class="button" data-filter=".australasia">Australasia</button>
            <button class="button" data-filter=".middle-east">Middle East</button>
            <button class="button" data-filter=".rest-of-the-world">Rest of the World</button>
          </div>
        </div>
      </div>
   <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
   {% endif %}
    

    {# Get Clients from HubDB #}
    {% set table = hubdb_table_rows(1052873)%}

    {% if table == [] %}
        <p class='align-center'>Sorry, no listings found for that Search.</p>
    {% else %}
      <div class="row row-group client-logo-grid">
      {% for row in table|sort(False, False, 'client_name') %}
        <div class="col-6 col-md-2 client-logo justify-content-center align-items-center text-center mb-half h-3 sector region {% for item in row.client_sector %}{{ item.name }} {% endfor %} {% for item in row.client_region %}{{ item.name }} {% endfor %}">
           <div class="client-image">
             <img src="{{ row.client_logo }}" alt="{{ row.client_name }}">
           </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>
</div>


{% if module.display_button %}
<div class="section mt-2 pb-2 mb-2">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ module.button_link_url.href }}" class="btn btn-violet">{{ module.button_text }}</a>
      </div>
    </div>
  </div>
</div>
{% endif %} 

