{% if module.duration or module.duration or module.title or module.image.src or page_by_id(module.link) or module.sub_heading or module.heading %}
<div class="hs-video">
  {% if module.heading %}<h3>{{ module.heading }}</h3>{% endif %}
  {% if module.sub_heading %}<p>{{ module.sub_heading }}</p>{% endif %}
  <div class="card-video d-flex flex-column h-100 text-center align-items-center ">
    <a href="{{ page_by_id(module.link).absolute_url }}">
      <div class="card-header">
        <div class="card-image">
          {% if module.image.src %}
          <img class="img-fluid d-block" src="{{ module.image.src }}" alt="{{ module.image.alt }}" width="{{ module.image.width }}" height="{{ module.image.height }}">

          <div class="card-video_play-icon">
            <span class="ab-icon play">
              <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6zM48 453.5v-395c0-4.6 5.1-7.5 9.1-5.2l334.2 197.5c3.9 2.3 3.9 8 0 10.3L57.1 458.7c-4 2.3-9.1-.6-9.1-5.2z"></path></svg>
            </span>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card-body flex-grow-1">
        {% if module.title %}<h4 class="font-weight-bold mt-half">{{ module.title }}</h4>{% endif %}
      </div>
      {% if module.duration %}
      <div class="card-footer">
        <h4 class="mt-0"><span class="ab-icon clock">
          <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>
          </span>
          {{ module.duration }}</h4>
      </div>
      {% endif %}
    </a>
  </div>
</div>
{% endif %}