

<div class="content_with_animation">

  <div class="section">
    <div class="container page-center">
      <div class="row align-items-center {% if item.image_alignment == "right" %}flex-sm-row-reverse{% endif %} ">
        <div class="col-12 col-md-6 offset-lg-1 col-lg-5">
           <div class="text-animate-in">
            <div class="text-inner">
              <h2 class="text-violet pb-half content_with_animation_heading">
                Outstanding user experience
              </h2>
              <ul class="ticks-large">
                <li><h3 class="my-half">Beautifully branded</h3></li>
                <li><h3 class="my-half">Award-winning usability</h3></li>
                <li><h3 class="my-half">Intelligent features</h3></li>
              </ul>
             </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="animation-wrapper">
            <div class="animationbg1"></div>
            <div id="animation1" class="animation1 animation"></div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-animation2">
    <div class="container page-center">
      <div class="row align-items-center flex-sm-row-reverse ">
        <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
           <div class="text-animate-in">
            <div class="text-inner">
              <h2 class="text-violet pb-half content_with_animation_heading">
                Amplify your Brand
              </h2>
              <ul class="ticks-large">
                <li><h3 class="my-half">Showcase your digital content</h3></li>
                <li><h3 class="my-half">Provide different access levels</h3></li>
                <li><h3 class="my-half">Maximise your current assets</h3></li>
              </ul>
             </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="animation-wrapper">
            <div class="animationbg2"></div>
            <div id="animation2" class="animation2 animation"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container page-center">
      <div class="row align-items-center {% if item.image_alignment == "right" %}flex-sm-row-reverse{% endif %} ">
        <div class="col-md-6 offset-lg-1 col-lg-5">
          <div class="text-animate-in">
            <div class="text-inner">
            <h2 class="text-violet pb-half content_with_animation_heading">
              Dedicated support
            </h2>
            <ul class="ticks-large">
              <li><h3 class="my-half">Leverage our experience</h3></li>
              <li><h3 class="my-half">Tailored onboarding</h3></li>
              <li><h3 class="my-half">5-star support team</h3></li>
            </ul>
           </div>
          </div>
          
        </div>

        <div class="col-md-6">
          <div class="animation-wrapper">
            <div class="animationbg3"></div>
            <div id="animation3" class="animation3 animation"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>



