<div class="section content_carousel pt-{{ module.module_setting.top_padding_gap_in_rem_ }} pb-{{ module.module_setting.bottom_padding_gap_in_rem_ }} mt-{{ module.module_setting.top_margin_gap_in_rem_ }} mb-{{ module.module_setting.bottom_margin_gap_in_rem_ }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% if module.title %}
        <h3 class="text-center">
          {{ module.title }}
        </h3>
        {% endif %}
        {% if module.content %}
        <div class="col-md-8 offset-md-2">
          {{ module.content }}
        </div>
        {% endif %}
        <div class="slider-for mb-2">
          {% for item in module.item %}
            <div>
              {% if item.image.src %}
                {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
                {% if item.image.size_type == 'auto' %}
                  {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                {% elif item.image.size_type == 'auto_custom_max' %}
                  {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.image.max_width }}px; max-height: {{ item.image.max_height }}px"' %}
                {% endif %}
                <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" class="w-100" {{ sizeAttrs }}>
              {% endif %}
            </div>
          {% endfor %}
        </div> 
        <div class="slider-nav">
          {% for item in module.item %}
            <div>
              <div class="content_carousel_top-bar"></div>
              <h4>
                {{ item.title }}
              </h4>
	            {{ item.content }}
              {% if item.show_link %}
                {% set href = item.link.url.href %}
                {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}" class="font-weight-bold h4"
                  {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if item.link.no_follow %}rel="nofollow"{% endif %}
                  >
                  {{ item.link_text }}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div> 
      </div>
    </div>
  </div>
</div>



	
	

  

	
