.d-simple-header {
  height: 72px;
  width: 100%;

  background: #fff;
  border-bottom: 1px solid #D3D3DF
}

.d-simple-header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
}

.d-simple-header__logo {

}