<div class="section pt-2 pb-3">
  <div class="page-center">
    <div class="row">
      <div class="offset-sm-1 col-sm-6">
        <h1 class="h2 mb-1">{{ module.heading }}</h1>
        <p>{{ module.sub_heading }}</p>
        <a href="{{ module.button_link_url.href }}" class="btn btn-violet">{{ module.button_text }}</a>
      </div>
    </div>
  </div>
</div>
<div class="section resource-group">
  <div class="page-center">

    <div class="row">
      {% for item in module.add_item %}
      <div class="col-sm-4 mb-2">
        <div class="card-premium d-flex flex-column h-100 text-center align-items-center ">
          {% set href = item.image_link_url.url.href %}
          {% if item.image_link_url.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}" {% if item.image_link_url.open_in_new_tab %}target="_blank"{% endif %} {% if item.image_link_url.no_follow %}rel="nofollow"{% endif %}>
            <div class="card-header">
              <div class="card-image">
                {% if item.image.src %}
                <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" width="{{ item.image.width }}" height="{{ item.image.height }}">
                {% endif %}
                <div class="card-premium_icon">
                  <span class="btn btn-violet">Download now</span>
                </div>
              </div>
            </div>
            <div class="card-body flex-grow-1">
              <h4 class="font-weight-bold mt-half">{{ item.title }}</h4>
            </div>
            <div class="card-footer">
              <h4 class="mt-0">{{ item.category }}</h4>
            </div>

          </a>
        </div>              
      </div>
      {% endfor %}
    </div>
  </div>
</div>